@charset "utf-8";
/* reset */
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, button, abbr, acronym, address, code,del, dfn, em, img, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td ,hr {margin:0;padding:0;}
body {height:100%;min-height:100%;font-family:'Noto Sans Korean','Malgun Gothic','맑은고딕','돋움',dotum, sans-serif;color:#444;}
h1, h2, h3, h4, h5, h6 {font-weight:normal}
ol, ul, li {list-style:none}
table {width:100%; border-collapse:collapse;border-spacing:0}
form, fieldset, iframe {display:block;border:0}
img, button {border:0 none;vertical-align:top; }
hr {height:0; display:none}
i, em, address{font-style:normal}
label, button{cursor:pointer}
blockquote, q {quotes:none}
caption, legend {overflow:hidden;visibility:hidden;position:absolute;width:0;height:0;padding:0;margin:0;font-size:0;text-indent:-100%;white-space:nowrap;z-index:-1}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {display:block}
input, textarea, select, button {font-family:'Noto Sans Korean','Malgun Gothic','맑은고딕','돋움',dotum, sans-serif;font-size:16px;color:#919090;line-height:1.5;letter-spacing:0;vertical-align:middle}
input, textarea {margin:0;padding:0}
textarea {resize:none}
a {text-decoration:none;color:white;}
a:link, a:visited {text-decoration:none}
a:hover {text-decoration:none}

#wrap { overflow: scroll;}

.clear {
    content: '';
    display:block;
    clear:both;
}

#wrap { 
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color: rgba(8, 0, 0, 0.884);
}


.header.on h1 {
    color: rgba(247, 243, 243, 0.904);
    margin-top:30px;
    margin-right:300px;
   
    text-align: right;
    font-size:50px;
    text-shadow: 2px 2px 3px rgb(219, 243, 2);
    opacity: 0;
    transition-delay: 5s;
    transition-duration: 3.5s;
    transform: rotateX(400deg); 
    
   
 }

.header h1 {
   color: rgba(247, 243, 243, 0.904);
   margin-top:30px;
   margin-right:40px;
   text-align: right;
   font-size:50px;
   text-shadow: 2px 2px 3px rgb(219, 243, 2);
   transition-delay: 5s;
   transition-duration: 3.5s;
   opacity:0.9;
  
}
.header.on p {
    opacity: 0;
    transition-delay: 7s;
    transition-duration: 7s;
    transform: rotateY(260deg); 
    padding-right:0px;
    
}
.header p {

    color: rgba(52, 241, 83, 0.904);
    margin-top:30px;
    margin-left:50px;
    padding-right:1020px;
    text-align: right;
    font-size:56px;
    text-shadow: 2px 2px 3px rgb(219, 243, 2);
    transition-delay: 7s;
    transition-duration: 7s;
    opacity:0.9;
  
 }

.picture_wrap {
    margin:0 auto;
    /* border:2px solid white; */
    width:1200px;
    height:1000px;
    margin-top:-100px;
    position: relative;
   
}

.picture_wrap.on .pic {
    position: absolute;
    right:0px;
    top:420px;
    left:620px;
    transform: rotateY(360deg);
    /* background-image: url("../images/mys.png"); */
}

.picture_wrap.on .pic span h2{
    padding-top:10px;
    color: greenyellow;
    opacity: 0.1;
    
}


/* 전등 */
.picture_wrap .light {
    position: absolute;
    left:640px;
    top:470px;
    background-color:rgb(97, 36, 97);
    transform: rotate(-180deg); 
}

.picture_wrap .light:hover {
    transform: rotate(180deg); 
    transition: 2s;
}

.picture_wrap .light .lig {
    width:100px;
    height:100px;
}



/* common */

.picture_wrap .pic {
    width:240px;
    height:240px;
    border-radius: 50%;
}
.picture_wrap .pic a {
    position: absolute;
    width:100%;
    height:100%;
    z-index: 200;
}

.picture_wrap .pic img {
    width:238px;
    height:238px;
}

.picture_wrap .pic h2 {
    text-align:center;
}

.picture_wrap .pic {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: 5s;
}

.picture_wrap .pic span {
    position: absolute;
    width:100%;
    height:100%;
    border-radius: 100%;
    background-color: rgba(54, 54, 54, 0.93);
    
}

.picture_wrap .pic span h2{
    padding-top:10px;
    color: greenyellow;
    opacity: 1;
    transition-delay: 4.2s;
    transition-duration: 3s;

}

.picture_wrap .pic:hover span  {
    background-color: rgba(77, 74, 74, 0.1);
    border:3px solid rgba(rgba(0, 0, 255, 0.8));
    transition: 2.5s;
    
} 

.picture_wrap .picture1:hover:after {
    position: absolute;
    left: 28px;
    top:0px;
    content: '';
    width: 86px;
    height: 0px;
    border-top:50px solid none;
    border-bottom:500px solid rgba(216, 42, 71, 0.4);
    border-right: 50px solid transparent;
    border-left: 50px solid  transparent;
    transform: rotate(-180deg); 
    transition: 1s;
    /* background-color:rgba(255, 50, 50, 0.1); */
}



.picture_wrap .picture1 {
    position: absolute;
    left:460px;
    top:10px;
    background-image: url("../images/mona.jpeg");
    
}


.picture_wrap .picture2 {
    position: absolute;
    left:0px;
    top:260px;
    background-image: url("../images/kakao.png");
    
}

.picture_wrap .picture3 {
    position: absolute;
    left:0px;
    top:560px;
    background-image: url("../images/culture.png");
}
.picture_wrap .picture4 {
    position: absolute;
    left:460px;
    top:750px;
    background-image: url("../images/ITC.png");
}
.picture_wrap .picture5 {
    position: absolute;
    left:1000px;
    top:550px;
    background-image: url("../images/Trumpia.png");
}
.picture_wrap .picture6 {
    position: absolute;
    left:1000px;
    top:250px;
    background-image: url("../images/mys.png");
}

