@charset "utf-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/css?family=Abel);
@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch);


/* reset */
body {
	font-family:'Nanum Gothic', Arial, sans-serif;
	font-weight:normal;
	font-size:12px;
	line-height:1.3;
	color:#666666;
	background-color:#fff;
	margin:0;
	padding:0;
}
img {border:none;}
br	{letter-spacing: 0;}
h1, h2, h3, h4, h5, h6 {font-size:1em;}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin:0;
	padding:0;
}
ul, ol {list-style:none;}
a {text-decoration:none; }
table {border-collapse: collapse; border-spacing: 0;}


/* common */

body {
	background-image:url('../images/bg_tile.gif');
}
a[href="#contents"] {position:absolute; top:-99999px;}
.wrap {
	width:90%; 
	padding:0 35px 40px; 
	border: 1px solid #e8e4df; 
	margin:50px auto; 
	border-radius:20px; 
	background: linear-gradient(rgba(211, 208, 186, 0.3), rgba(255, 255, 255, 0.5) 30%);
	border:1px solid rgba(193, 192, 190, 0.4);
}
header {
	position:relative; 
	height:100px; 
	max-width: 980px;
	box-shadow: 0 10px 5px -6px rgba(0, 0, 0, 0.13);
	margin-bottom: 10px;
}

/* header > strong {
    position: absolute;
    left: -1px;
    top: 16px;
} */

header > strong > a {
	font-weight:normal; 
	font-size:50px;
	font-family: 'Cabin Sketch' , sans-serif;
	left: -1px;
    position: absolute;
    top: 16px;
    color:#666;
}
header .language {position:absolute; top:-30px; right:10px;}
header .language li {float:left; margin:0 10px 0 0;}
header .language li.active a {
    border-bottom: 1px solid #45BBED;
    color: #45BBED;
    padding-bottom: 8px;
}
header .language li a {color:#58636D; }
header > nav ul {font-family:'Abel'; float:right; margin:43px 7px 0 0; font-size:18px;}
header > nav li {float:left; margin:0 0 0 10px;}
header > nav li:first-child {margin:0;}
header > nav li > a {font-weight:bold; color:#191919; padding:5px 15px;}
header > nav li > a:hover {/*background-color:rgba(0,0,0,0.3);*/ color:white; border-radius:16px; background-image:url('../images/bg-dark.jpg'); opacity:0.3;}
.hide {height:0; overflow:hidden; }

.breadcrumb {font-size:12px; padding:10px;}
.breadcrumb a {margin:0 0 0 0; padding:0 10px 0 0; color:#45BBED;background:url('../images/breadcrumb_inactive.png') no-repeat right 2px;}

.contents {background:none; padding:0;}
.contents h1 { max-width: 970px;}
h1 {font-family:'Abel'; font-size:42px; margin:0 20px 20px 0; text-align:right;  text-shadow: 3px 3px 0 #D5D5D5; color:#000000; }
h3 {font-family:'Abel'; font-size:24px; color:#000000; }
h4 {font-weight:400; padding:4px 0 3px 2px; margin:0 0 13px; font-size:14px; color:#45BBED; }

.visual {position:relative; height:465px; background:none; padding:0; border:none;}
.visual .control {border-radius:0 0 5px 5px; position:absolute; left:0; bottom:0; width:970px; height:16px; padding:5px 0 4px; background-color:black; text-align:center;}
.visual .control a {display:inline-block; *display: inline; margin:0 3px; zoom:1; width:10px; height:10px; background-color:rgba(255,255,255,0.3); border-radius:5px }
.visual .control a.active {background-color:rgba(255,255,255,1); border-radius:5px; width:10px; height:10px;  }
.visual .control a span {position:absolute; left:-99999px;}
.visual .pannel {position:relative;}
.visual .pannel li {position:absolute; top:0; left:0;}
.visual .pannel li img {border-radius:5px 5px 0 0;}
.visual .pannel .description {box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.5); border-radius:5px; position:absolute; right:40px; bottom:40px; width:334px; padding:15px 20px 0px; background-color:white;}
.visual .pannel .description h4 {font-size:28px; color:#F1001C;}
.visual .pannel .description p {margin: 14px 0 10px;font-size:12px; }
.visual .pannel .description a {float:right; width:145px; border-radius:5px 0 5px 0; margin:0 -20px 0 0; padding:8px; text-align:center; background:#45BBED url('../images/bg_glass.png') repeat-x 0 50%; font-size:14px; color:white;}
.visual .pannel .description a:hover {background-color:#4bc9ff;}
.visual .arrow a {position:absolute; top:180px;width:50px; height:81px; background-color:rgba(0,0,0,0.2) ; background-image:url('../images/visual_arrow.png'); text-indent:-9999px; }
.visual .arrow a:hover {background-color:rgba(0,0,0,0.5);}
.visual .arrow .prev {left:0; border-radius:0 44px 44px 0; }
.visual .arrow .next {right:0; border-radius:44px 0 0 44px; background-position:-96px 0;}

.visual + section {border:none; margin-top:30px}
section {border-top:1px dotted #333333;display:inline-block; zoom:1; width:970px; padding:25px 0; }
section .col1 img {border-radius:5px; box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);}
section .col1 {width:170px; float:left; margin:0 0 0 20px; }
section .col2 {width:380px; float:left;}
section .col3 {width:570px; float:left;}
section .col4 {width:760px; float:left;}
section .col5 {width:970px; float:left;}

footer {clear:both; height:100px; position:relative; padding:20px;  text-shadow:1px 1px 1px #333;  border-radius: 4px; color:#ededed; background-image:url('../images/bg-dark.jpg');}
footer a {color:#ededed; text-shadow:1px 1px 1px #333;}
footer > ul > li > strong {margin:0 0 10px; display: block;}
footer > ul {float:left;}
footer > ul > li {width:116px; float:left;}
footer .license {position:absolute; text-shadow:none; color:#666; left:416px; bottom:-27px; padding:20px 0 0; text-align:center;}
footer .license a {color:#666; text-shadow:none;}


/* special */
.clients .col1:nth-child(1),
.clients .col1:nth-child(2),
.clients .col1:nth-child(3),
.clients .col1:nth-child(4) {margin:0 0 20px 20px;}
.global .col1:nth-child(1),
.global .col1:nth-child(2),
.global .col1:nth-child(3) {margin:0 0 20px 20px;}
.global .col1 img {width:160px; border-radius:85px; border: 5px solid rgba(87, 66, 66, 0.5); background: url('../images/bg_line.gif');  box-shadow: none;}
.global .col5 img {border-radius:5px; border:none;}
.global .col2 {padding:0 0 0 20px; width:360px;}
.global strong a {display:block; margin:0 0 10px; color:black; font-weight:bold;}
.global .col5 {margin:20px 0 0; padding:30px 0 0; line-height: 18px;}




/* 481이상 769이상 */
@media screen and (max-width:769px) {
	
	header 					{height:auto;overflow: visible; margin-bottom:30px;}
	header > strong 		{display: block; text-align: center;}
	header > strong > a		{position: static; margin:0 auto;text-align: center;}
	header > nav 			{height:auto;}
	header > nav ul 		{width:100%;/* min-width: 480px; */text-align: center; background-color: #c4c2c2;margin-top:20px;float:none;font-size: 0; }
	header > nav ul li 		{float:none;display: inline-block; width: 62px;text-align: center;margin-right:0.4%;padding:0;}
	header > nav ul li > a 	{display: inline-block;text-align: center;padding: 0;margin:0;font-size:18px;}
	
	
	main .breadcrumb { display: none;}
	main .contents h1 { text-align: left; margin-top:10px; }
	main .visual {	position: relative;	height: 200px;width: 100%; background: none; padding: 0;border: none;border-radius: 5px;}

	main .visual .pannel li {	position: absolute;	top: 0;	left: 0;width: 100%;height: 200px;	overflow: hidden;}


	main .visual .pannel li img {
		max-width: 100%;
		min-width: 500px;
		height: auto;
		
	}

	main .visual .arrow a {
		top:60px;
	}

	main .visual .pannel .description, main .visual .control {
		display: none;
	}

	main .whatwedo, main .whatwedo .col4, main .whatwedo .col4 .col1 img{
		width:100%;
	}

	main .whatwedo > .col1 {
		/* border:1px solid red; */
		float:none;
		margin:0;
	}
	
	main .whatwedo .col4 {
		min-width:420px;
	}	

	main .whatwedo .col4 .col1  {
		width:30%;
		/* min-width:150px; */
		margin:0px;
		margin-right:3.3%;
	}
	

	main .clients, main .clients .col4, main .clients .col4 .col1 img   {
		width:100%;
	}
	main .clients > .col1 {
		float:none;
		margin:0;
	}
	main .clients .col1:nth-child(1) {
		margin-left:0px;
	}
	main .clients .col4 {
		min-width:420px;
	}	
	main .clients .col4 .col1  {
		width:30%;
		/* min-width:150px; */
		margin:0px;
		margin-right:3.3%;
	}
		
	main .global, main .global .col3, main .global .col3 .col1 img,
	main .global .col5, main .global .col5 .col1 img   {
		width:100%;
	}
	main .global > .col2 {
		float:none;
		margin:0;
	}
	
	main .global .col3 {
		min-width:420px;
	}	

	main .global .col3 .col1  {
		width:30%;
		/* min-width:150px; */
		margin:0px;
		margin-right:3.3%;
	}
		

		
	main .global > .col5 {
		float:none;
		margin:0;
	}
	
	main .global .col5 {
		min-width:420px;
	}	

	main .global .col5 .col1  {
		width:30%;
		/* min-width:150px; */
		margin:0px;
		margin-right:3.3%;
	}
	main .global .col5 .col1 a {
		font-size: 16px;
	}
	main .global .col5 .col1 span {
		font-size: 14px;
	}



	footer { display: none; }

	
}


 /* 420이하 */
@media screen and (max-width:420px) {

	.wrap { padding:0; width:100%;}


	header { box-shadow: none; }

	header > nav ul {
		background-color: transparent;
	}

	header > nav ul li {
		float: none;
		display: block;
		width: 100%;
		height:30px;
		border-bottom: 1px solid #c4c2c2;
		text-align: center;
		margin-right: 0.4%;
		padding: 0;
		padding-top:3px;
		margin:0 auto;
	}

	header > nav li:first-child {
		margin: 0 auto;
	}

	
	main { padding:0 3%;}

	main .whatwedo .col4 {
		min-width:260px;
	}	

	main .whatwedo .col4 .col1  {
		width:46%;
		margin:0px;
		margin-right:5.6%;
	}
	main .whatwedo .col4 .col1:nth-child(2n)  {
		margin-right:0;
	}
	
	main .clients {
		min-width:260px;
	}
	

	main .clients .col4 {
		min-width:260px;
	}	
	main .clients .col4 .col1  {
		width:46%;
		margin:0px;
		margin-right:5.3%;
	}
	main .clients .col4 .col1:nth-child(2n) {
		margin-right:0;
	}

	main .global .col3 {
		min-width:260px;
	}	

	main .global .col3 .col1  {
		width:46%;
		margin:0px;
		margin-right:2%;
	}
				
	main .global > .col5 {
		float:none;
		margin:0;
	}
	
	main .global .col5 {
		min-width:260px;
	}	

	main .global .col5 .col1  {
		float: none;
		width:100%;
		margin:0px;
		margin:0 auto;
		
	}

}





